.dropdown-menu {
    box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
    border: 0;
}

.dropdown-item.active, .dropdown-item:active {
    color: #16181b;
    text-decoration: none;
    background-color: #007bff;
}

.dropdown-item:not(.dropdown-header):not(.dropdown-footer):hover,
.dropdown-item:not(.dropdown-header):not(.dropdown-footer):focus {
    background-color: #f8f9fa;
}
.dropdown-item.dropdown-header:hover,
.dropdown-item.dropdown-header:focus {
    border-radius: 5px 5px 0 0;
    background-color: #f8f9fa;
    /*color: #6c757d;*/
}

.dropdown-item.dropdown-footer {
    border-radius: 0 0 5px 5px;
}
.dropdown-item.dropdown-footer:hover,
.dropdown-item.dropdown-footer:focus {
    border-radius: 0 0 5px 5px;
    background-color: #f8f9fa;
    /*color: #6c757d;*/
}
.dropdown-menu::before {
    border-bottom: 9px solid rgba(0, 0, 0, 0.2);
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 14px;
    position: absolute;
    top: -8px;
}
.dropdown-menu::after {
    border-bottom: 8px solid #FFFFFF;
    border-left: 9px solid rgba(0, 0, 0, 0);
    border-right: 9px solid rgba(0, 0, 0, 0);
    content: "";
    display: inline-block;
    left: 14px;
    position: absolute;
    top: -7px;
}
.dropdown-menu-right:before, .dropdown-menu-right:after {
    left: auto;
    right: 14px;
}

.btn-orange {
    background-color: #fd7e14;
    color: #fff!important;
}
.btn-orange:hover {
    background-color: #f37308;
}
.btn-orange:focus {
    box-shadow: 0 0 0 0.2rem rgba(253, 147, 58, .5);
}

/* -- Reset form-control & button is -sm -- */
.form-control {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.btn:not(.btn-lg):not(.btn-md) {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}
div.dataTables_wrapper div.dataTables_length select {
    width: 60px;
}

.custom-control-label::before {
    position: absolute;
    top: 0.25rem;
    left: -2.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    content: "";
    background-color: #fff;
    border: 1px solid #adb5bd;
    box-shadow: none;
}

label:not(.form-check-label):not(.custom-file-label) {
  font-weight: normal!important;
}