/* Button */
.btn-primary, .btn-primary.disabled {
    box-shadow: none;
    border: none;
}

/* LOADING */
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("http://localhost/afsales/images/reseller/loader.gif") center no-repeat #fff;
}

/* NAVBAR */
.dropdown-list .dropdown-item .dropdown-item-desc {
    margin-left: 10px;
}

/* DROPDOWN */
div#delete {
    margin: 0;
    padding: 0;
    width: 10%;
    text-align: center;
}

/* ARTICLE */
.article {
    transition: .3s;
}
.article:hover {
    transition: .3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.18);
}

/* ADDRESS */
.form-group textarea#address {
    height: 90px;
    resize: none;
}
ul#tab, .card.cart-container {
    position: sticky;
    top: 10px;
}
.nav-pills .nav-item .nav-link.active {
    box-shadow: none;
}

/* PAGINATION */
.page-item.active .page-link {
    border: none;
}
ul.pagination {
    padding-left: 15px;
}

/* DETAIL PRODUCT */
.img-single-product {
    width: 100%;
}

/* RESPONSIVE */
@media(max-width: 768px) {
    ul.pagination {
        flex-wrap: wrap;
    }
    li.page-item {
        padding-bottom: 15px;
    }
    .img-single-product {
        margin-bottom: 20px;
    }
}