.navbar-bg {
    top: 0;
    left: 0;
    position: fixed;
    height: 70px;
    z-index: 99;
}
.search-element {
    width: 100%;
}

.card.box-profile {
    position: sticky;
    top: 100px;
}
.card-header h4 a {
    text-decoration: none;
}
.card-header.box-profile-header {
    min-height: 30px;
}

.main-content, .navbar-bg  {
    padding-left: 80px;
    padding-right: 80px;
}

.carousel-item {
    height: 400px;
}
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.356);
}

.bank-details table tr th, .order-info table tr th {
    background-color: #5F7A95;
    color: #fff;
}

/* #cart-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#cart-list div {
    width: 200px;
    text-align: center;
}
#cart-list div img {
    width: 100px;
    margin-bottom: 15px;
} */

@media(max-width: 992px) {
    .main-content, .navbar-bg  {
        padding-left: 20px;
        padding-right: 20px;
    }
    .carousel-item {
        height: auto;
    }
}