/* THEME */
.theme-container {
    display: flex;
    justify-content: space-between;
}
.theme {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
}

/* BLUE */
.theme-blue {
    background-color: #6777ef !important;
}
.theme-blue:hover {
    background-color: #4a5ce6 !important;
}
.theme-blue-font {
    color: #6777ef !important;
}

/* BLUE DARK */
.theme-blue-dark {
    background-color: #34395e !important;
}
.theme-blue-dark:hover {
    background-color: #24294e !important;
}
.theme-blue-dark-font {
    color: #34395e !important;
}

/* BLUE LIGHT */
.theme-blue-light {
    background-color: #3abaf4 !important;
}
.theme-blue-light:hover {
    background-color: #1399d6 !important;
}
.theme-blue-light-font {
    color: #3abaf4 !important;
}

/* GREEN */
.theme-green {
    background-color: #47c363 !important;
}
.theme-green:hover {
    background-color: #2dad4b !important;
}
.theme-green-font {
    color: #47c363 !important;
}

/* ORANGE */
.theme-orange {
    background-color: #ffa426 !important;
}
.theme-orange:hover {
    background-color: #f0981c !important;
}
.theme-orange-font {
    color: #ffa426 !important;
}

/* RED */
.theme-red {
    background-color: #fc544b !important;
}
.theme-red:hover {
    background-color: #f53026 !important;
}
.theme-red-font {
    color: #f53026 !important;
}

/* SCROLL UP */
#scroll-up {
    width: 40px;
    right: 50px;
    bottom: 80px;
    height: 40px;
    cursor: pointer;
    position: fixed;
    z-index: 999999;
    text-align: center;
    background-color: #6777ef;
    border-radius: 50%;
}
#scroll-up .fa {
    color: #fff;
    line-height: 40px;
}